h1 {
      color:#59121a;
      text-align:center;

}



div{
  color: maroon;
  text-align: center;
  font-style:oblique;
  background-color: teal;
  width: 10px;
  height: 10px;
  margin-left: 500px;
  padding: 100px;


}
